:root {

    /* Colors: */
    --gris-oscuro: #909090;
    --gris-claro: #C5C5C5;
    --negro: #000000;
    --azul-rey: #0766EF;
    --azul-marino: #0A2540;
    --blanco: #FFFFFF00;
    --gris: #D2D2D2;
    --azul: #0B1321;
    --verde: #00CDAB;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-b5b5b5: #B5B5B5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    z-index: -1;
}

body{
    background-color: var(--azul);
    margin: 0;
    padding: 0;
    font-family: "poppins" , sans-serif;
    color: var(--gris-claro);
}

nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    background: rgba(11, 19, 33, .5);
    backdrop-filter: blur(5px);
    font-weight: 200;
}

#navigation{
    list-style: none;
    display: inline-flex;
    align-items: center;
    width: 50%;
}

#lang{
    margin-right: 20px;
    color: white;
}

.nav-button{
    text-decoration: none;
    font-size: 1em;
    color: white;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    padding-bottom: .3rem;
}

.nav-button:hover{
    transform: scale(1.1);
    color: var(--verde);
    font-weight: 500;
    text-shadow: 0 0 1px var(--verde);
}

.nav-button::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--verde);
    transition: width 0.3s ease-in-out;
    box-shadow: 0 0 5px var(--verde);
}

.nav-button:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}

#branding{
    display: inline-flex;
    align-items: center;
    margin: 2%;
}

#branding span{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--verde) ;
    margin-right: 20px;
}

#nat{
    position: absolute;
    top: 10vh;
    right: 0;
    width: 55%;
    max-width: 49%;
    max-height: 94%;
    border-radius: 0 0 70% 0;
    transition: .5s ease-in-out;
}

h1{ max-width: 42%;
    align-self: flex-start;
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.4em;
    margin-top: 12vh;
    margin-left: 5%;
    color: var(--verde);
}

#section1{
    margin-top: 2rem;
    height: 45rem;
    padding: 0 5%;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;    
    transition: .3s ease-in-out;
}


#description{
    font-size: 1.2rem;
}

.cta{
    box-sizing: border-box;
    width: fit-content;
    display: flex;
    transition: 0.3s;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid var(--verde);
    box-shadow: 0 0 5px var(--verde);
    color: var(--verde);
    font: 600 16px "poppins", sans-serif;
    text-decoration: none;
}

.cta:hover{
    background-color: var(--verde);
    box-shadow: 0 0 20px var(--verde);
    color: var(--azul);
}


#section2 h2{
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--verde);
}

#section2 .cta{
    margin: 3rem auto;
}

.projects{
    margin: 5rem 0 3rem 0;
    display: grid;
    gap: 3rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.project-card{
    padding: 1rem;
    height: 35rem;
    margin: 0 2rem;
    border-radius: .5rem;
    background: transparent linear-gradient(139deg, #00000033 0%, #98989873 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF33;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image-card{
    position: relative;
    width: 100%;
    height: 45%;
    background-color: red;
    border-radius: .5rem ;
}

.logo-card{
    position: absolute;
    background-color: blue;
    width: 30%;
    height: 45%;
    left: 35%;
    top: 28.5%;
    border-radius: .5rem;
}

.project-card h4{
    align-self: flex-start;
    font-size: 1.5rem;
}

.project-card .cta{
    align-self: center;
}

@media (orientation: landscape){
    #section1{
        height: 35rem;
        margin-bottom: 8rem;
    }
}

@media screen and (min-width: 576px){
    h1{
        font-size: 2.5rem;
        transition: .3s ease-in-out;
    }


@media screen and (min-width: 768px){
    h1{
        max-width: 50%;
        font-size: 3.6rem;
        transition: .3s ease-in-out;
    }

}

@media screen and (min-width: 992px){
    h1{
        font-size: 4.5rem;
        transition: .3s ease-in-out;
    }
    #nat{
        width: 35%;
}


@media screen and (min-width: 1200px){

    h1{
        font-size: 5rem;
        transition: .3s ease-in-out;
    }
    main{
        width: 50%;
        transition: .3s ease-in-out;
        text-align: left;
        align-items: flex-start;
    }
    #nat{
        width: 55%;
        border-radius: 0;
        transition: .5s ease-in-out;
    }
    #description{
        font-size: 2rem;
    }
    #section2 h2{
        font-size: 2.5rem;
    }
}